<h1>Actor #<%= @actor.id %></h1>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @actor.dob %>
</p>

<p>
  <b>Roles:</b>
  <ul>
    <% @actor.roles.each do |role| %>
      <li><%= role.character_name %></li>
    <% end %>
  </ul>
</p>









