<h1>Director #<%= @director.id %></h1>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>

<p>
  <b>Filmography:</b>
  <ul>
    <% @director.movies.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>
</p>







