<h1>Role #<%= @role.id %></h1>

<p>
  <b>Character name:</b>
  <%= @role.character_name %>
</p>

<p>
  <b>Actor:</b>
  <%= @role.actor.name %>
</p>

<p>
  <b>Movie:</b>
  <%= @role.movie.title %>
</p>








